* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin:0;
}

html {
	overflow-y:scroll;
}

body {
	font-family: monospace;
	margin:0;
	min-width: 250px;
	background-color:#e0e0e0;
}

input {
	font-family: monospace;
}

input[type="button"], input[type="submit"], input[type="file"], label {
	cursor: pointer;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Welcome Box */
.welcome {
	padding:15px !important;
}
.welcome p {
	padding:5px 0;
	font-size:12px;
}
.welcome .start-options {
	text-align: center;
	padding:10px 0;
}
.welcome em {
	font-size:12px;
	color: #999;
}

.welcome em:before, .welcome em:after {
	content: " ——————————————— ";
}
.welcome h2 {
	padding:5px 0;
}
/* Welcome Box */

.records.ASC .content-block:last-child {
	display: none;
}
.records.ASC .content-block:first-child {
	display: block;
}
.records.DESC .content-block:first-child {
	display: none;
}
.records.DESC .content-block:last-child {
	display: block;
}

#app {
	padding-bottom:10px;
}

.toolbar {
	padding:10px;
	background-color:#F42434;
	width: 100%;
}
	#newRecord_form {
		position: relative;
	}
	.toolbar input {
		border:none;
		outline:none;
		padding:5px 8px;
		line-height: 15px;
	}
	.toolbar input[type="submit"], .toolbar input[type="button"] {
		background-color:#000;
		color:#fff;
	}
	.toolbar input[type="submit"]:focus, .toolbar input[type="submit"]:hover {
		background-color:#fff;
		color:#000;
	}
	.toolbar input[type="button"]:focus, .toolbar input[type="button"]:hover {
		background-color:#fff;
		color:#000;
	}

	.toolbar #settings_btn {
		background-color:#ccc;
		color:#000;
		float: right;
	}
	.toolbar #settings_btn:focus, .toolbar #settings_btn:hover {
		background-color:#eee;
	}

	.toolbar #recordName_txt {
		width: 165px;
		display: none;
	}
	.toolbar #recordName_txt:focus {
		/*background-color: #ffffbb;*/
	}

	.toolbar #recordTicketId_txt {
		display: none;
	}

	/* ADDING */

	.toolbar.adding #findRecord_btn, .toolbar.adding #settings_btn {
		display: none;
	}
	.toolbar.adding #recordName_txt {
		width: 49%;
		display: inline !important;
	}
	.toolbar.adding #recordTicketId_txt {
		width: 49%;
		display: inline !important;
	}
	.toolbar.adding #newRecord_btn {
		position: absolute;
		right: 0;
		top: 0;
	}
	.toolbar.adding #newRecord_btn:focus, .toolbar.adding #newRecord_btn:hover {
		border-left:1px solid #000;
	}

	/* SEARCHING */

	.toolbar.searching #newRecord_btn, .toolbar.searching #settings_btn {
		display: none;
	}
	.toolbar.searching #recordName_txt {
		width: 100%;
		display: inline !important;
	}
	.toolbar.searching #findRecord_btn {
		position: absolute;
		right: 0;
		top: 0;
	}
	.toolbar.searching #findRecord_btn:focus, .toolbar.searching #findRecord_btn:hover {
		border-left:1px solid #000;
	}

	

.import-wrap {
	text-align: center;
}
.import {
	font-size: 10px;
}
.import[type="file"] {
	width: 160px;
}
.export-wrap {
	text-align: center;
}
.export {
	font-size:10px;
}

.info-wrap {
	margin-top: 20px;
}
	.info {
		padding:0;
		margin: 0;
		text-align: center;
	}
		.info li {
			list-style: none;
			display: inline-block;
			color:#999;
		}
		.info li:before {
			content: " | ";
		}
		.info li:first-child:before {
			content: "";
		}

hr {
	margin:10px 0;
	display: block;
}

.content-block {
	background-color:#fff;
	padding:10px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 1px #999;
	box-shadow: 1px 1px 1px #999;
	margin-bottom:10px;
}

.rounded {
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	-o-user-select: text;
	user-select: text;
}

#wrap {
	padding:10px;
}

.text {
	font-weight: bold;
}

.records {
}

	.actual:before {
		content:" (";
	}
	.actual:after {
		content:")";
	}

		.record {
			position: relative;
		}
	
		.done {
			background-color:#d6ffda;
		}

		.record .name {
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			-o-user-select: text;
			user-select: text;
		}
		.record .ticket {
			-webkit-user-select: text;
			-moz-user-select: text;
			-ms-user-select: text;
			-o-user-select: text;
			user-select: text;
		}

		.record-actions {
			padding:0 0 5px 0;
			text-align: right;
		}
			.record-actions input {
				font-size: 9px;
				margin-right:5px;
			}
			.record-actions input:last-child {
				margin-right: 0;
			}

		.timestamp-actions {
			padding:10px 0;
			position: relative;
		}
			.timestamp-actions input {
				margin-left:5px;
			}
			.timestamp-actions input:first-child {
				margin-left:0;
			}

			.timestamp-actions .done-wrap {
				position: absolute;
				right: 0;
				top:13px;
			}
				.timestamp-actions .done-wrap label, .timestamp-actions .done-wrap input {
					vertical-align: middle;
				}

		.timestamps .empty {
			padding: 10px 0;
			text-align: center;
			color: #999;
		}
			.timestamps .empty p {
				padding:5px 0;
			}
	
		.timestamps div:last-child {
			display: none;
		}
		.timestamps div:first-child {
			display: block;
		}

		.timestamp {
			border-top:1px solid #ccc;
			padding:10px;
			position: relative;
		}
		.timestamp:first-child {
			border-top:none;
		}
			.timestamp input[type="checkbox"] {
				vertical-align: middle;
				margin-right: 10px;
			}

			.to:before {
				content:" - ";
			}

			.to input {
				padding:0 5px;
			}

			.date:before {
				content: " @ ";
			}
			.date {
				padding:0 5px;
				color:#999;
			}

			.difference {
				position: absolute;
				right:10px;
			}
	
	.total {
		border-top:3px double #999;
		text-align: right;
		padding:10px 0 0 0;
	}

/* Active Animation */
	
	@-webkit-keyframes Active {
		from { color:#009900; }
		to { color:#00cc00; }
	}
	@-o-keyframes Active {
		from { color:#009900; }
		to { color:#00cc00; }
	}
	@-moz-keyframes Active {
		from { color:#009900; }
		to { color:#00cc00; }
	}
	@keyframes Active {
		from { color:#009900; }
		to { color:#00cc00; }
	}

	.active:after {
		content:"[active]";
		color:#009900;
		margin-left:5px;

		-webkit-animation: Active 1s linear infinite alternate;
		-o-animation: Active 1s linear infinite alternate;
		animation: Active 1s linear infinite alternate;
	}

	@-webkit-keyframes Highlight {
		from { background-color:#ffffbb; }
		to { background-color:#fff; }
	}
	@-o-keyframes Highlight {
		from { background-color:#ffffbb; }
		to { background-color:#fff; }
	}
	@-moz-keyframes Highlight {
		from { background-color:#ffffbb; }
		to { background-color:#fff; }
	}
	@keyframes Highlight {
		from { background-color:#ffffbb; }
		to { background-color:#fff; }
	}

	.highlight {
		-webkit-animation: Highlight 1s linear;
		-o-animation: Highlight 1s linear;
		animation: Highlight 1s linear;
	}

/* -- end */


/* MSG BOX */

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	/* filter: url("data:image/svg+xml;utf8,<svg xmlns=\'w3.org/2000/svg\'><filter id=\'blur\' x=\'0\' y=\'0\'><feGaussianBlur stdDeviation=\'3\'/></filter></svg>#blur"); */
}

.msg-container {

	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	pointer-events: auto;

}

.fade {
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left:0;
	background-color:rgba(0,0,0, 0.5);
	-webkit-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}	

.msg-box {
	
	/*dev*/
	max-width:350px;
	/*dev*/
	
	max-height: 95%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
	background-color:#fff;
	border-radius: 3px;

	position: relative;
	z-index: 1000;
	overflow: hidden;
	pointer-events: auto;

}
	
	.msg-box .header {
		width:100%;
		text-align: center;
		padding:10px 0;
		background-color:#ccc;
	}

	.msg-box .body {
		padding:15px 15px 60px 15px;
		position: relative;
	}

		.msg-box ul {
			margin-top:10px;
			padding:0;
		}

			.msg-box li {
				list-style: none;
				position: relative;
				border-bottom:1px solid #ccc;
			}
			.msg-box li:last-child {
				border-bottom: none;
			}
				.msg-box li input {
					vertical-align: middle;
					position: absolute;
					left:10px;
					top:5px; /* Same as Padding top/bottom of label */
				}
				.msg-box li label {
					display: block;
					height: 100%;
					width: 100%;
					padding:5px 0 5px 30px;
				}
			.msg-box .row-header {
				border-bottom:4px double #ccc;
				background-color:#eee;
				text-transform: uppercase;
			}
				.msg-box .row-header input {
					top:10px;
				}
				.msg-box .row-header label {
					padding:10px 0 10px 30px;
				}

	.msg-buttons {
		position: absolute;
		bottom:0;
		width:100%;
		border-top:2px solid #ccc;
	}

		.msg-buttons input {
				
			border:none;
			width:100%;
			background-color:#fff;
			padding:10px;
			outline:none;

		}
		.msg-buttons input:first-child {
			border-right:1px solid #ccc;
			display: none;
		}
		.msg-buttons input:focus {	
			background-color:#eee;
		}

		/*prompt or not*/
		.prompt .msg-buttons input {
			width:50%;
		}
		.prompt .msg-buttons input:first-child {
			display: inline;
		}

/* h2 color coding */
.msg-box .red {
	background-color:#ff3333;
}
.msg-box .orange {
	background-color:#ff9933;
}
.msg-box .green {
	background-color:#33ff66;
}
.msg-box .grey {
	background-color:#999;
}

/* Open / Closed -- rules */
.closed {
	pointer-events: none;
}
.closed .fade {
	background-color:rgba(0,0,0,0);
}

.closed .msg-box {
	display: none;
}

/* -- end */


/* Custom SETTINGS messagebox content */

.settings_wrap {
	padding: 0;
}

	.reset_settings {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.settings_wrap .setting_item {
		padding:10px;
		border-bottom:1px solid #ccc;
	}
	.settings_wrap .setting_item:nth-child(2n) {
		background-color:#f9f9f9;
	}
	.settings_wrap .setting_item:last-child {
		border-bottom: none;
	}

		.setting_item .setting_label {
			font-size:12px;
		}
		.setting_item .setting_label:after {
			content: ":";
		}
		.setting_item .setting_input {
			margin-left: 10px;
		}
		.setting_item .setting_desc {
			padding:5px 0;
			font-size:10px;
			color:#666;
		}

/* -- end */
